@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
  position: relative;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
  display: inline-block;
  margin-left: 2px;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-50% - 32px));
  }
}

.animate-loop-scroll {
  animation: loop-scroll 20s linear infinite;
}
