@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
  display: inline-block;
  margin-left: 2px;
}